.app_dark_theme {
    --bg-color: #090949;
    --inverted-bg-color: #e8e8ea;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;

    // skeleton
    --skeleton-color: #001e77;
    --skeleton-shadow: #3f6dd1;

    // code
    --code-bg: #2a2aa7;

    // article card
    --card-bg: #2a2aa7;

    // list box
    --listbox-bg: #2a2aa7;
}
