.app_third_theme {
    --bg-color: #ffd498;
    --inverted-bg-color: #047c51;
    --primary-color: #d442cb;
    --secondary-color: #700414;
    --inverted-primary-color: #daa19b;
    --inverted-secondary-color: #7b4743;
}
