.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    padding-right: 10px;
    align-items: center;
}

.actions,
.links {
    margin-left: auto;
}

.mainLink {
    margin-right: 15px;
}

.createArticle {
    width: 100%;
}

.appName {
    width: var(--sidebar-width);
    margin-left: 15px;
    flex-shrink: 0;
}
